@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221 83% 53%; /* Blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 90%; /* Neutral light gray */
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5% 90%; /* Neutral light gray */
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 25 95% 95%; /* Light Orange */
    --accent-foreground: 25 95% 50%; /* Orange */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 221 83% 53%; /* Blue */
    --chart-1: 221 83% 53%; /* Blue */
    --chart-2: 25 95% 50%; /* Orange */
    --chart-3: 221 60% 70%; /* Lighter Blue */
    --chart-4: 25 80% 70%; /* Lighter Orange */
    --chart-5: 221 40% 80%; /* Lightest Blue */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 83% 63%; /* Lighter Blue */
    --primary-foreground: 221 20% 9.0%;
    --secondary: 240 4% 15.9%; /* Neutral dark gray */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 15.9%; /* Neutral dark gray */
    --muted-foreground: 240 5% 64.9%;
    --accent: 25 20% 12%; /* Dark Orange */
    --accent-foreground: 25 95% 60%; /* Orange */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15.9%; /* Neutral dark gray */
    --input: 240 4% 15.9%; /* Neutral dark gray */
    --ring: 221 83% 63%; /* Lighter Blue */
    --chart-1: 221 83% 63%; /* Lighter Blue */
    --chart-2: 25 95% 60%; /* Orange */
    --chart-3: 221 60% 50%;
    --chart-4: 25 80% 50%;
    --chart-5: 221 40% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #zona-factura, #zona-factura * {
    visibility: visible;
  }
  #zona-factura {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
  }
}
